<section id="contact" class="contact">
  <div class="container">
    <h2>Contact Me</h2>
    <p>Feel free to reach out to me through any of the following methods:</p>
    <ul>
      <li class="fs-3">
        Email:
        <a href="mailto:your.email@example.com">asazadpathan31@gmail.com</a>
      </li>
      <li class="fs-3">Phone: 98-9087-8387</li>
      <li class="fs-3">
        Social Media
        <ul>
          <li>
            <a
              class="fa fa-linkedin-square"
              style="color: rgb(68, 68, 199); font-size: 2.3rem"
              aria-hidden="true"
              href="https://www.linkedin.com/in/asazad-pathan-563a531b2/"
              target="_blank"
            ></a>
          </li>
        </ul>
      </li>
      <li class="fs-4">Prayag Chikhali: Kolhapur, Maharashtra, India</li>
    </ul>
  </div>
</section>
