<mat-toolbar class="pt-5" class="sticky-toolbar">
  <div class="left-section">
    <h1 class="name"><i class="fa fa-code"></i> Programmer</h1>
  </div>
  <span class="example-spacer"></span>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="dropdown-item" routerLink="about">About</a>
    </li>
    <li class="nav-item">
      <a class="dropdown-item" href="#">Portfolio</a>
    </li>
    <li class="nav-item">
      <a class="dropdown-item" href="#">Blob</a>
    </li>
    <li class="nav-item">
      <a class="dropdown-item" routerLink="contact">Contact</a>
    </li>
  </ul>
</mat-toolbar>
<router-outlet></router-outlet>
<footer class="footer mt-4 p-5">
  <div class="container">
    <p class="fs-4">&copy; 2024 Asazad Pathan. All rights reserved.</p>
  </div>
</footer>
