<div class="padding-content">
  <div class="container mt-5">
    <section class="intro">
      <h2>Introduction</h2>
      <p>
        Welcome to my world! I'm Asazad Pathan, a passionate Programmer working
        at Medicare company. I have a love for problem-solving assessments and
        enjoy coding to develop unique and innovative solutions. I firmly
        believe in the power of technology to transform lives and businesses. My
        ultimate goal is to become expert in my technology, leading teams to
        success and driving innovation in the industry.
      </p>
    </section>
    <section class="background">
      <h2>Background</h2>
      <p>
        With over 2 years of experience in software development, particularly in
        web application development and database management, I've had the
        privilege of working on numerous projects that have significantly
        contributed to the success. My journey began when I discovered my
        passion for coding during my college years. I started experimenting with
        various programming languages and technologies, which eventually led me
        to pursue a career in software engineering.
      </p>
    </section>
    <section class="expertise">
      <h2>Expertise</h2>
      <p>
        I specialize in a diverse range of areas, including programming
        languages such as <span class="highlight">C</span>,
        <span class="highlight">C++</span>,
        <span class="highlight">JavaScript</span>,
        <span class="highlight">TypeScript</span>,
        <span class="highlight">SQL</span>, and
        <span class="highlight">C#</span>, as well as cutting-edge technologies
        like <span class="highlight">JavaScript ES6</span>,
        <span class="highlight">TypeScript 4.9</span>,
        <span class="highlight">Angular 16</span>,
        <span class="highlight">HTML 5</span>,
        <span class="highlight">CSS 3</span>,
        <span class="highlight">Redux</span>,
        <span class="highlight">NgRx 16</span>,
        <span class="highlight">Angular Material 16</span>,
        <span class="highlight">RxJS 7</span>,
        <span class="highlight">Jest</span>,
        <span class="highlight">.NET 6.0</span>,
        <span class="highlight">REST API</span>,
        <span class="highlight">SQL Server 2016</span>,
        <span class="highlight">T-SQL</span>,
        <span class="highlight">xUnit</span>,
        <span class="highlight">Git</span>, and
        <span class="highlight">Jenkins</span>.
      </p>
      <p>
        My expertise extends beyond specific skills to encompass deep industry
        knowledge and a commitment to delivering innovative solutions tailored
        to the unique needs of each project.
      </p>
    </section>
    <section class="mission-vision">
      <h2>Mission & Vision</h2>
      <p>
        My mission is to leverage my expertise to understand the requirements of
        each project thoroughly and deliver high-quality solutions in a timely
        and efficient manner.
      </p>
      <p>
        I envision a world where technology enables seamless collaboration,
        innovation, and problem-solving, ultimately driving progress and success
        for individuals and businesses alike.
      </p>
    </section>
    <section class="values">
      <h2>Values</h2>
      <p>At the core of my work are three fundamental values:</p>
      <ul>
        <li>
          <strong>Innovation:</strong> Embracing creativity and continuously
          seeking new solutions to challenges.
        </li>
        <li>
          <strong>Collaboration:</strong> Fostering teamwork and communication
          to achieve collective success.
        </li>
        <li>
          <strong>Integrity:</strong> Upholding honesty, transparency, and
          ethical standards in all interactions.
        </li>
      </ul>
      <p>
        These values guide my actions and decisions, ensuring integrity,
        excellence, and empathy in everything I do.
      </p>
    </section>
    <section class="achievements">
      <h2>Achievements</h2>
      <ul>
        <li>
          <p>
            Received appraisal from the company for dedication towards work,
            significant contributions to the project, and appreciation for
            delivering the best work.
          </p>
        </li>
        <li>
          <p>
            Achieved 1st Rank in the Computer Science and Engineering Department
            during B. Tech graduation, with a remarkable Cumulative Grade Point
            Average (CGPA) of 9.42.
          </p>
        </li>
        <br />
      </ul>
    </section>
    <section class="personal-touch">
      <h2>Personal Touch</h2>
      <p>
        When I'm not working, you can find me enjoying a game of cricket or
        engaging in indoor activities like chess. I'm also passionate about
        exploring new technologies and experimenting with coding projects in my
        free time.
      </p>
    </section>
  </div>
</div>
